# Eclipse
.project
.classpath
.settings

# IntelliJ IDEA
*.iml
*.ipr
*.iws
out

# Ant
build.xml
local.properties
proguard.cfg

# Gradle
.gradle
build

# OSX
.DS_Store

# Crashlytics plugin (for Android Studio and IntelliJ)
fabric.properties

# Windows
*.db

# Android
*.apk

# Secret keys
secrets.properties

# ignore .idea directory
.idea/
